<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Boton Editar</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <section th:fragment="botonEditar">
        <div id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/}" class="btn btn-ligth btn-block">
                            <i class="fas fa-arrow-left"></i> [[#{cancelar}]]
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-check"></i> [[#{guardar}]]
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/delete(id=${post.id})}"
                           class="btn btn-danger btn-block">
                            <i class="fas fa-trash"></i> [[#{borrar}]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
