<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>

<body>
    <section th:fragment="form">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5">
                <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            </div>
        </div>
        <div class="container">
            <div class="card mt-5">
                <div class="card-header text-center"> <h4>SUBIDA DE POST</h4></div>
                <div class="card-body">
                    <form th:action="@{/save}" th:object="${post}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Titulo</label>
                            <input type="text" th:field="${titulo}" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label> Contenido</label>
                            <input type="text" th:field="${contenido}" class="form-control" required="true">
                        </div>
                        <div class="row form-group">
                            <input type="file" name="file" class="m-2">
                        </div>
                        <div class="form-group">
                            <label> Categoria</label>
                            <input type="text" name="categoria" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> Fecha de Creacion</label>
                            <input type="date" name="fecha" required="true">
                        </div>
                        <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar Post</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>
</html>